h3 {
   color: brown;
}

img {
   max-width: 30%;
   max-height: 600px;
}

.photos {
   text-align: center;
   vertical-align: top;
   border-left: 3px dashed black;
   border-right: 3px dashed black;
}