.chores {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    color:salmon;
}

.chores h3 {
    text-decoration: underline;
}

.chores li {
    font-style: italic;
}